body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("images/homepage/homewall.jpg");
    min-height: 75%;
  }
  
  .menu {
    display: none;
  }


  @font-face {
    font-family: 'Ninjago';
    src: url('https://www.fontsaddict.com/fontface/ninjago.ttf');
}

#logo{
    background-color: white;
    position:absolute;
    left:1%;
    top:5%;
    border-radius: 100%;
}